body{
  margin: 0;
  padding: 50px 0;
  display:flex;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
}

.calculator{
  display:flex;
  flex-direction:column;
  gap:20px;
  text-align: center;
  width: 360px;
  height: 600px;
  background-color: #242C3D;
  padding: 20px;
  border:solid 3px black;
  border-radius: 10px;
}

.output{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  background-color:white;
  height: 25%;
  border:solid 3px black;
  border-radius: 10px;
  padding: 5px 10px;
}

.buttons{
  height: 75%;
  display:flex;
  flex-direction:column;
  align-items: center;
  gap:10px;
}

.buttons button{
  border: solid 3px black;
  padding: 20px 30px;
  border-radius: 10px;
}

.large-buttons{
  display:flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

.large-buttons button{
  flex: 1 0 61%;
  font-size:20px;
  font-weight:bold;
}

.small-buttons{
  height:100%;
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;

}

.small-buttons button{
  flex: 1 0 10%;
  font-size: 20px;
  font-weight: bold;
}

#operations{
  text-align: right;
  font-size: 32px;
  font-weight:bold;
  margin:0;
  padding-top:10px;
}

#final-result{
  margin:0;
  font-size: 50px;
  text-align:right;
}
